<!DOCTYPE html>
{% load static %}
<html>
<title>Giridhar Pera</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="{% static 'my.jpg' %}" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2 style="color:white">Giridhar Pera</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Web Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Los Angeles, USA</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>giridharpera@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>309-750-3649 </p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Technologies and Frameworks</b></p>
          <p>PHP</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
<!--            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>-->
          </div>
          <p>Mysql</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-small">
<!--              <div class="w3-center w3-text-white">80%</div>-->
            </div>
          </div>
          <p>React JS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
<!--            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>-->
          </div>
          <p>Python</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
<!--            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>-->
          </div>

          <p>Symfony</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
<!--            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>-->
          </div>

          <p>Lumen</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
<!--            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>-->
          </div>

          <p>Django</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
<!--            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>-->
          </div>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>AWS Skills</b></p>

          <p>Cognito</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
<!--            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>-->
          </div>

          <p>API Gateway</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
<!--            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>-->
          </div>

          <p>VPC</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
<!--            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>-->
          </div>

          <p>SQS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
<!--            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>-->
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
<!--            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>-->
          </div>
          <p>Telugu</p>
          <div class="w3-light-grey w3-round-xlarge">
<!--            <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>-->
          </div>
          <p>Hindi</p>
          <div class="w3-light-grey w3-round-xlarge">
<!--            <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>-->
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Web Developer / Tokio Marine HCC</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Apr 2019 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>•	Building software application product by gathering business requirements with high level technical specifications
•	Developing application project in PHP object-oriented programming and React JS by involving in planning, scoping, schedule and design.
•	Develop, test and implantation of server API based upon user acceptance criteria.
•	Writing and executing high performance, secure and complex database queries in SQL with no chances of SQL injection.
•	Discover new approaches, technologies and design patterns like factory, visitor, listener, and observer and implementing them in project.
•	Optimizing the software code logics to enhance performance of the application as necessary and recommending improvements and upgrades.
•	Integrating user interface components and interactions with backend server API and database.
•	Implementing third party services like Cognito, API gateway, SQS, send grid, reporting cloud, amazon S3 and inRule into existing project and handling them effectively.
•	Documenting the software logic into algorithms and workflows for the purpose of future communications.
•	Providing root cause analysis and critical solutions to problem related areas.
•	Increasing team productivity by collaborating with other developers, testers and product owners.
•	Maintaining system feasibility and stability by establishing scalable development techniques.
</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>PHP Developer / NAS Insurance</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 2017 -  March 2019</h6>
          <p>•	Developed PHP based server-side API using symfony framework and implemented MVC architecture.
•	Using all aspects of MySQL/PHP Programming (object-oriented PHP), Symfony Framework in LAMP environment.
•	Developing REST API’s by using symfony framework and designing database structures.
•	Integration of third party libraries on project for requirements, and integration with UI.
•	Involving in MySQL queries and PHP query builders for database interactions.
•	Working with the framework's filtering, decoding, encoding security features in developing secure back end modules.
•	Writing PHP codes to interact with services to provide an easy to configure web service server interface.
•	Building UI components on REACT js and handling user interactions.
•	Working on PHP programming, including Object-oriented, procedural, data structures and design patterns.
•	Used GIT for version control. Wrote Automated Unit Tests for new and existing features with PHP Unit.
•	Engaged in incident management, problem solving and solution implementation
</p>
          <hr>
        </div>
<!--        <div class="w3-container">-->
<!--          <h5 class="w3-opacity"><b>Graphic Designer / designsomething.com</b></h5>-->
<!--          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>-->
<!--        </div>-->
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
<!--        <div class="w3-container">-->
<!--          <h5 class="w3-opacity"><b>W3Schools.com</b></h5>-->
<!--          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>-->
<!--          <p>Web Development! All I need to know in one place</p>-->
<!--          <hr>-->
<!--        </div>-->
        <div class="w3-container">
          <h5 class="w3-opacity"><b>University Of Illinois, Springfield</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016 - 2017</h6>
          <p>Master of Science in Computer Science</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Cources:</b></h5>
          <p>cloud computing, system programming languages, operating systems, information security policy, Professional ethics, Network administration</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
